*{
	margin:0;
	padding:0;
}
body {
	background-color: #FFFFF;
	/*font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    */
	font-family:"Microsoft YaHei" ! important;
}


.header{
	width: 100%;
	height: 60px;
    background: #0F88EB;
    position: fixed;
	z-index: 1111;
	top:0;
	
}
.header li{
	list-style-type:none;
	
}
.header a{
	color:#FFF;
	text-decoration: none;
}
.header a:hover{
	color: #f6f7d7;
}



.page-menu-wrapper {
	width: 960px;               
	line-height: 60px;
    margin: 0 auto;
	
}
.page-menu-wrapper > ul > li {
	position: relative;
	float: left;
	margin-right: -1px;
}

.home{
	left:-40px;
	top:-3px;
}
.menu-function {
	float: left;
	
}
.menu-share {
	float: right;
	margin-left:2px;
}
.page-menu-wrapper > .menu-function > li:first-child {
	border-left: none;
}
.page-menu-wrapper > .menu-share > li:last-child {
	border-right: none;
}
.page-menu-wrapper a {
	position: relative;
	display: inline-block;
	padding: 0 15px;
	transition: all .3s ease-out;
}
.page-menu-wrapper > ul > .myname_li:hover > a {
	 color: #3d61a2;
	background-color: #fff; 
}                       
.page-menu-wrapper > ul > li:hover .dropdown-menu {
	display: block;
}
.dropdown-menu {
	display: none;
	position: absolute;
	width: 260px;
	font-size: 18px;
	text-align: left;
	background-color: #fff;
	
}
.dropdown-menu.categories a {
	color: #000;
}
.dropdown-menu.categories a:hover {
	color: #5bc4be;
	margin-left: 10px;
}
#search:target a[href="#search"] {
	display: none;
}
#search:target ~ #search-hidden {
	display: block;
}
#search-hidden {
	display: block;
	padding: 0 5px;
	left:-30px;
}
#search-hidden input {
	border: 1px solid #fff;
	line-height:25px;
	background:#F4F4F4;
	border-radius:3px 0px 0px 3px;
	height:25px;
	width: 260px;
	font-size:15px;
	padding:3px;
}
#search-hidden input:focus{
	border: 1px solid #fff;
	line-height:25px;
	background:#fff;
	border-radius:3px 0px 0px 3px;
	height:25px;
	width: 260px;
	font-size:15px;
	padding:3px;
}
/* WebKit browsers */
::-webkit-input-placeholder {
	color: #777;
}
/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
	color: #777;
	opacity: 1;
}
/* Mozilla Firefox 19+ */
::-moz-placeholder {
	color: #777;
	opacity: 1;
}
/* Internet Explorer 10+ */
:-ms-input-placeholder {
	color: #777;
}


.search_btn{
	background-color:#f4f4f4;
	margin-top:13.5px;
	display:inline-block;	
	border-radius:0px 3px 3px 0px;
    height:33px;
	width:0px;
	margin-left:-1px;
	
}
.search_btn:hover{

	margin-top:13.5px;
	display:inline-block;	
	border-radius:0px 3px 3px 0px;
    height:33px;
	width:0px;
	margin-left:-1px;
}
.search_btn > img{
	position:relative;
	left:-20px;
	top:-9px;
}
.menu-function > li > a,.menu-share > li > a {
	padding-left: 40px;
}

.menu-share .mymainname{
	padding-left:10px;
	width:140px;
}
.mymainname img{
    height:30px;
    width:30px;
    border-radius:50px;
    vertical-align: middle;
 
}
.mymainname span{
	margin-left:7px;
}

.page-menu-wrapper a:before {
	position: absolute;
	left: 15px;
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	font-smoothing: antialiased;
	font-size: 18px;
	vertical-align: middle;
}



/*follow*/
.dropdown-menu.follow {
	width: 165px;
	 
}
.dropdown-menu.follow a {
	padding-left: 35px;
	font-size: 14px;
}
.dropdown-menu.follow a:before {
	left: 10px;
}

.dropdown-menu.follow li:nth-child(1) a {
	color: #ffaa31;
}
.dropdown-menu.follow li:nth-child(2) a {
	color: #07beed;
	
}
.dropdown-menu.follow li:nth-child(3) a {
	color: #314d91;
}
.dropdown-menu.follow li:nth-child(4) a {
	color: #2d2d2d;
}
.dropdown-menu.follow li:nth-child(5) a {
	color: #e84788;
}
.dropdown-menu.follow li:nth-child(1):hover {
	background-color: #ffaa31;
} 
.dropdown-menu.follow li:nth-child(2):hover {
	background-color: #07beed;
} 
.dropdown-menu.follow li:nth-child(3):hover {
	background-color: #314d91;
} 
.dropdown-menu.follow li:nth-child(4):hover {
	background-color: #2d2d2d;
} 
.dropdown-menu.follow li:nth-child(5):hover {
	background-color: #e84788;
} 
.dropdown-menu.follow li:hover a {
	color: #fff;
	margin-left: 10px;
} 
.dropdown-menu.follow {
	box-shadow:1px 5px 5px #EFEFEF; 

}
.dropdown-menu.share {
	width: 120px;	                 
	right:0;
}
.dropdown-menu.share a {
	margin: 10px;
	line-height: 26px;
	font-size: 14px;
	padding-left: 20px;
	border: 1px solid #cbcbcb;
	border-radius: 2px;
	color: #4c4c4c;
	background-color: #efefef;
}
.dropdown-menu.share a:hover {
	background-color: #fff; 
	
}
.dropdown-menu.share li a:before {
	font-size: 12px;
	left: 5px;
	
}
.dropdown-menu.share li:nth-child(1) a:before {
	
	color: #314d91;
	
}
.dropdown-menu.share li:nth-child(2) a:before {
	
	color: #07beed;

}
.dropdown-menu.share li:nth-child(3) a:before {
	
	color: #2d2d2d;
	
}

/*登录，注册*/
.menu-loginreg{
	display:inline-block;
	float: right;

}

.login-btn{
	

    height: 35px;
    width: 80px;
	background: #ffffff;
	border: 1px solid #0F88EB;
	border-radius: 3px;
	color: #0F88EB;
	text-decoration: none;
	display: table-cell;
    vertical-align: middle;
    text-align: center;  
	
}
.login-btn:hover{
	cursor:pointer;
	color:#0F88EB;
	background:#eff0f4;
}

 .reg-btn{
 	margin-left:10px;
 	width: 80px;
    height: 35px ;
	background: #FFFFFF;
	border: 1px solid #0F88EB;
	border-radius: 3px;
	color: #0F88EB;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
 	
}
 .reg-btn:hover{
 	cursor:pointer;  
	color:#0F88EB;
	background:#eff0f4;
 }
